main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

.logo {
  width: 60%;
}

.logo-container {
  width: 100px;
}

.product-image {
  margin-top: 30px;
}

.productDetailsNav {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 400px) {
  .btn-home {
    display: block;
  }

  .item-a {
    grid-area: latest;
  }

  .item-b {
    grid-area: retro;
  }

  .item-c {
    grid-area: computers;
  }

  .item-d {
    grid-area: smartphones;
  }

  .item-e {
    grid-area: vr;
  }

  .productDetailsNav {
    display: grid;
    grid-template-areas: 
      "latest retro"
      "computers smartphones"
      "vr vr"
    ;
  }
}