main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

.logo {
  width: 60%;
}

.logo-container {
  width: 100px;
}

.productDetailsNav {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 400px) {
  .btn-home {
    display: block;
  }

  .productDetailsNav {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
}